
.custom-file-upload {
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.bgColor{
	color:blue;
	font-size:12px;
	background-color: #ebebe0; 
}

.title{
	color:white;
	background-color: #46aa47;
	align:left;
	padding-left:12px;
}

.footer{
	color:white;
	background-color: #46aa47;
	align:center;
	}